<body>
    <div class="welcome">
      <p>Welcome to <strong >TODO</strong><br> <span class = "los">Login or Sign Up Here</span></p>
    </div>
    <div class="getStarted md-5 ">
    <section>
        <ul class="icon-list">
          <li class="icon-item">
            <a href="#" class="icon-link" routerLink="/login"><i class="fas fa-sign-in-alt icon"></i></a>
          </li>
          <li class="icon-item">
            <a href="#" class="icon-link" routerLink="/signup"><i class="fas fa-user-plus icon"></i></a>
          </li>         
        </ul>
      </section>
    </div>

</body>
